@media only screen and (max-width: 600px) {
  .card{
    width: 100% !important;
  }
}
.card{
  text-decoration: none;
  text-align: center;
}
.recipe-img{
  height: 60vh;
  width: 100%;
  object-fit: contain;
}
th,td{
  padding: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.font-size1_2rem{
  font-size: 1.2rem;
}